language: python

env:
  DATABASE_URL=host="host='localhost', user='root', passwd=', port='3306', database='students'"
  DATABASE_TEST_URL="host='localhost', user='root', passwd=', port='3306', database='students_test'"
  APP_SETTINGS="testing"

python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install coveralls codecov nose

services:
  - mysql 


before_script:
  - mysql -u root -e'CREATE DATABASE students_tests' 
  - mysql -u root -e'CREATE DATABASE students'



script:
  - nosetests --with-coverage --cover-package=app app -v

after_success:
  - coveralls
  - codecov --token=b24144b0-c748-4807-9ebe-4189d48bda19
